# Ignore dependency folders (Crucial for speed & space)
node_modules
npm-debug.log

# Ignore git version control files
.git
.gitignore

# Ignore local build artifacts
build
dist

# Ignore IDE settings
.vscode
.idea

# Ignore Docker files (So they don't copy themselves)
Dockerfile
docker-compose.yml
.dockerignore

# Ignore environment files (Security)
.env
.env.local