.topbar {
  display: flex;
  align-items: stretch; 
  justify-content: space-between;
  background-color: #e2eef1;
  height: 50px;
}

@media (max-width: 991.98px) {
  .topbar {
    display: none; 
  }
}

.topbar-left {
  color: #6c757d;
  font-size: 1.1rem;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  background-color: #e2eef1;
}

.topbar-right {
  background-color: #0d6efd;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-left: 3rem;
  border-radius: 80px 0 0 0px;
}

.topbar-right p {
  margin: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.topbar-right i {
  margin-right: 0.5rem;
}

.topbar-right .border-end {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 65px 0px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.logo {
  font-size: 35px;
  font-weight: bold;
  color: #2c7be5;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: #2c7be5;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: contain;
}
